<div class="big_wrapper" id="comments">
  <div class="wrapper">
      <div class="point_copy full">
        <h4>Discussion</h4>
        <div class="fb-comments" data-href="<%= encoded_root_url %>" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
    </div>
  </div>
</div>
