<div class="big_wrapper" id="comments">
  <div class="wrapper">
    <div class="point_copy full">
      <h4>Discussion</h4>
      <div class="comments-alternative">
        <p>If you don't want to use Facebook to communicate, you can send us email <img src="http://hitchwiki.org/wordpress/wp-content/plugins/hitchwiki/img/contact.png" alt="Contact us" />, <a target="_blank" href="http://hitchwiki.org/chat/">chat</a> with us or <a target="_blank" href="http://hitchwiki.org/groups/hitchwiki/">comment at Hitchwiki.org</a>.</p>
      </div>
      <div class="fb-comments" data-href="<%= encoded_root_url %>" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
    </div>
  </div>
</div>
