<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>What if you don't gather enough money?</summary>
          <p>We will organize the hackathon anyway. It would be shorter and there would be a higher risk of not getting the work done.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>What if you gather too much money?</summary>
          <p>
            We will organize more hackathons later and it'll also allow us to work on other Hitchwiki related projects. See <a href="#priorities">priorities</a> section.
          </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>What are your expenses?</summary>
          <p>
            Approximate calculation with 10€ food per day and rent between 300—500€ including utilities.
            <br><br>
            <u>One month:</u> (rent) + (30 * food per day) = (300-500) + (30 * 10) = <u>600—800 €</u>
            <br><br>
            <u>Two months:</u> 2 * 600—800 € = <u>1200—1600 €</u>
            <br><br>
            We will open the whole process up at our <a href="http://hitchwiki.org/en/Hitchwiki:Hackathon_in_Turkey_2014">notes</a>.
          </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>I have a flat in Turkey!</summary>
          <p>
            Whoo great! <a href="#contact">Contact us</a> and let's talk more.
          </p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
    <li>
      <details class=''>
        <summary>Can I join you?</summary>
        <p>
          If you are a developer, see <a href="#team">team</a> section. For purely designers or "I know HTML and CSS" devs there isn't probably gonna be enough of work, sorry!
          <br><br>
          We are likely to host some people just like we would host during our "usual" lives, but we try to keep the house quiet enough for productive time. We're not establishing a <a href="http://nomadbase.info/">nomadbase</a>. Please don't choose our hackathon as a travel destination.
          <br><br>
          There's a good chance our girlfriends will be around at least part of the time, but we'll try to divide food/rent expenses in a fair way so that you don't need to worry about funding "outsiders".
        </p>
      </details>
    </li>
    <li>
      <details class=''>
        <summary>Trampy/geeky contacts in Turkey</summary>
        <p>
          We definelly need some contacts in Turkey! Connect us with your friends there if possible.
          <br><br>
          We'll need help on scouting the flat, possibly with furniture and just friends of course.
        </p>
      </details>
    </li>
    <li>
      <details class=''>
        <summary>Where in Turkey will you be?</summary>
        <p>
          We don't know yet exactly, but we're looking into southern parts for it's warmer there. Somewhere between İzmir—Antalya—Adana.
          <br><br>
          It might be a smaller beautiful town with loads of nature (we love hiking!) or a bigger city with students. Smaller place might help us to be more productive though. ;-)
          <br><br>
          Do you have any tips on great locations?
        </p>
      </details>
    </li>
    </ul>
  </div>
</div>
