<div id="history">
<details class=''>
  <summary>Short history of Hitchwiki hackathons</summary>
    <div class="bread">
      <br>
      We already have some experience on organizing such events.
      <br><br>
      Previously we've worked in coding sprints, or "hackathons" as we call them:
      <br><br>
      <ul>
        <li>
          In summer 2010 Mikael developed the <a href="http://hitchwiki.org/maps/">map</a> and it took him almost two months.
          <br><br>
        </li>

        <li>
          In May 2013 we gathered at Kasper's house in Brussels and fixed plenty of bugs and created the <a href="http://hitchwiki.org/en/">current new layout</a>. We also started <a href="http://nomadwiki.org/">Nomadwiki</a>.
          <br><br>
        </li>

        <li>
          In winter 2013—2014 Mikael rented a flat from Lisbon, Portugal and <a href="http://www.bewelcome.org/blog/mikael/3123">invited everyone</a> to develop BeWelcome and Hitchwiki. Plenty of work was done to make Hitchwiki run more stable and easier to work on. He hosted over 15 geeks in 3 months.
          <br><br>
        </li>

        <li>
          In June 2014 we gathered at French alps at Rémi's family summer cottage. Preliminarily work on new layout and Phrasebook was done.
          <br><br>
        </li>
      </ul>

</details>
</div>
