<div class="big_wrapper" id="roof">
  <div class="wrapper">
    <div class="point_copy right darkbox">
      <h4>
        We are making hitchhikers-style hackaton in Turkey to make Hitchwiki better!
      </h4>
    </div>
  </div>
</div>

<div class="big_wrapper" id="letter">
  <div class="wrapper">
      <div class="point_copy full">

        <h4><em>Dear friends and hitchhikers family!</em></h4>

        Behind our beloved <a href="http://hitchwiki.org/">Hitchwiki</a> is a small (but enthusiastic!) tech team. Although we are able to maintain the site and fix problems that occur every now and then, developing new features has always been a bit tricky.
        <br><br>
          In recent years Hitchwiki has grown quite a lot, and now we have over 100,000 unique visitors a month. Due to this popularity, we've felt for quite a while that we should improve the site. 
        <br><br>
        Our plan is to combine Wiki with Maps into one view:
        <br><br>
        <br>
        <%= link_to(image_tag("hitchwiki_2015_pre.png", alt: "New Hitchwiki", width: "100%"), asset_path("hitchwiki_2015_pre.png")) %>
        <br>
        <br><br>

        This time we will gather in Turkey and work on Hitchwiki <em>full time.</em> Previously we've done volunteering alongside our other jobs and been quite restricted time and energy wise.

        <br><br>
        <em>We need your help to cover the costs (rent, food, etc ...) during our coding event, or "hackathon" as we call it.</em>
        <br><br>

        <%= render 'preorder/homepage/history' %>

    </div>
  </div>
</div>

<div class="big_wrapper" id="plan">
  <div class="wrapper">
      <h3>
        The plan, what we want to achieve
      </h3>
        <br><br>
      <div class="point_copy half left">
        <h5>Currently</h5>
        <ul class="bread">
          <li>Hitchiwiki <a href="http://hitchwiki.org/maps/">Map</a> and <a href="http://hitchwiki.org/en/">Wiki</a> have seperate and duplicate content. It's annoying to check both before your hitching trip and to find where the best information is. On the wiki, you don't get a visual idea of where the locations exactly are. </li>
          <li>The hitchiwiki project is now really messy, nothing is structured, it is therefore hard to build new features.</li>
          <li>Editing wiki can be complicated, and you need time to understand how it works before you can contribute.</li>
          <li>Hitchwiki is written in over 9 languages, but the data is separated so it's really hard to translate from one to the other and to see where the good information is.</li>
          <li>Wiki doesn't work really well on mobile and tablets, and it's impossible to use the map on those devices.</li>
        </ul>
      </div>
      <div class="point_copy half right">
        <h5>Solutions</h5>
        <ul class="bread">
            <li>We want to bring the map and the wiki together, in a way that spots from the wiki and the map are visible in one view, where you could also see comments, waiting times, ratings.</li>
            <li>The goal is to separate each location into its own block and show it on the map. If we achieve this we would have a really easy-to-use system, ready for great new features.</li>
            <li>We want to make editing Hitchwiki content as easy as posting a comment on a blog.</li>
            <li>We plan to facilitate access to info in different languages, by displaying a list of available languages for each hitchhiking spot and providing an easy way to translate it to a new language.</li>
            <li>We aim to make the whole new wiki work on any kind of device.</li>
        </ul>
      </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="team">
    <h3>
      Who are we
    </h3>
    <br><br>
    <div class="point_copy half left">
      <%= image_tag("mikael.jpg", alt: "Mikael", class: "geek") %>
      <p>
        Mikael has been developing Hitchwiki since 2008. He is very active with <a href="http://www.mikaelkorpela.fi/volunteering/">projects</a> related to nomadism and free-economics.
      </p>
      </div>
      <div class="point_copy half right">
        <%= image_tag("remi.jpg", alt: "Rémi", class: "geek") %>
      <p>
        <a href="https://github.com/Remigr">Rémi</a> is more fresh into Hitchwiki but has already helped to organize several hackathons and small <a href="http://hitchgathering.org/">Hitchgatherings</a>.
      </p>
      </div>

      <div class="clearfix"></div>
      <div class="point_copy half left">
        <br><hr><br>
        <p>
          <em>"These guys have already done a lot of amazing work for Hitchwiki, I am completely convinced they will do a great job in Turkey and I'm happily putting some of my own money to support this endeavor. I can't wait to see maps more integrated in the wiki!"</em><br>
          <small class="bread">— <a href="http://kasper.re">Kasper</a>, Hitchwiki co-founder</small>
        </p>
      </div>
      <div class="point_copy half right">
        <br><hr/><br>
        <p class="bread">We are team of two at the moment but we're also open for talented and experienced developers joining us (MediaWiki, PHP, JavaScript). This time we would like to form a tiny and effective team of people who could contribute several weeks of full time work for this, rather than have guests visiting and helping for shorter times (as we've had before). Smaller team (or just two of us) is also easier to coordinate. If you'd be interested to come, please <a href="#contact">contact us</a> and tell about yourself! You're also always welcome to <a href="https://github.com/Hitchwiki/">send</a> smaller patches and participate in discussions.</p>
      </div>
      <div class="clearfix"></div>

  </div>
</div>
