<div class="gray_background">
  <div class="wrapper clearfix" id="other_points">
    <h3 id="priorities">Priorities</h3>
    <p id="section-0">We've set our goals so that we have enough time to get at least combined map working. If we have money left, we will organize more hackathons later and work also on other Hitchwiki related projects. More donations will simply allow us to do more.</p>
    <ul>
      <li id="section-1">
        <h4>Goal 1</h4>
        <p>Combine map and wiki into one view including markers, descriptions, comments and ratings.</p>
      </li>
      <li id="section-2">
        <h4>Goal 2</h4>
        <p>Ensure everything works well on mobile devices. Make it easy for everybody to edit and contribute.</p>
      </li>
      <li id="section-3">
        <h4>Goal 3</h4>
        <p>Implement same map features to <a href="http://nomadwiki.org">Nomadwiki</a> and <a href="http://trashwiki.org">Trashwiki</a>. Imagine wild camping places and dumpsterdiving spots marked on a map.</p>
      </li>
      <li id="section-4">
        <h4>Goal 4</h4>
        <p>Work on a new project aiming to allow hitchhikers host each other and connect better in "Couch Surfing style". <a href="#">Read more.</a></p>
      </li>
    </ul>
  </div>
</div>
